.markdown-body ul {
  list-style-type: none;
  padding-left: 1em;
}

li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px
}

li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'FontAwesome';
  content: "\f128";
}
