extends base

block container
  .columns
    .sidebar.column.one-fourth
      img.avatar(src='https://jysperm.me/avatars/v5.png', height='230', width='230')
      .card
        h2 关于精子
        ul
          li 精子生于 1995 年
          li 精子现居江苏苏州
          li 精子目前工作于 LeanCloud
      .card
        h2 关注精子
        ul
          li 
            a(href='https://jysperm.me') 博客
          li
            a(href='http://www.zhihu.com/people/jysperm') 知乎
          li
            a(href='https://github.com/jysperm') GitHub
          li
            a(href='https://twitter.com/jysperm') Twitter
          li
            a(href='http://segmentfault.com/u/jysperm') SegmentFault

    .column.three-fourths
      .columns
        .blogs.column.one-half
          .boxed-group
            h3 日志
            ul.boxed-group-inner.mini-repo-list
              li
                a(href='https://jysperm.me/2015/09/leaving-hackplan/').mini-repo-list-item 离开 HackPlan
              li
                a(href='https://jysperm.me/2015/08/standardized-world/').mini-repo-list-item 标准化商品构成的世界
              li
                a(href='https://jysperm.me/2015/07/hexo-theme-simpleblock/').mini-repo-list-item 与精子同款的博客主题 Simple Block 现已发布！
              li
                a(href='https://jysperm.me/2015/06/mabolo-mongodb-orm/').mini-repo-list-item Mabolo: 轻量级的 MongoDB ORM
              li
                a(href='https://jysperm.me/2015/05/stand-by-me-doraemon/').mini-repo-list-item 哆啦 A 梦：伴我同行
              li
                a(href='https://jysperm.me/2015/05/cichorium-routing-framework/').mini-repo-list-item Cichorium: 基于 Promise 的中间件路由框架
              li
                a(href='https://jysperm.me/2015/05/rpvhost-will-be-free/').mini-repo-list-item RP 主机免费计划
        .tweets.column.one-half
          .boxed-group
            h3 碎语
            ul.boxed-group-inner.mini-repo-list
              li.mini-repo-list-item 
                a(href='https://twitter.com/jysperm/status/635823754573152256') 8月24日
                span 今天为 simpleblock 发布了一个新版本，包含了我上个月对顶部导航条在移动设备上的样式修改，然后安装方式改成了通过 npm 来安装，要方便了不少。话说今天在 Google 上搜了一下，竟然还真的有几个人在用我的这个主题。
              li.mini-repo-list-item 
                a(href='https://twitter.com/jysperm/status/628608205086593024') 8月4日
                span 「标准化商品构成的世界」如果我有接近无限的钱可供使用的话，我要在我生活可及的地方，创建一个由标准化商品构成的世界，并尽可能地向其他人推销我的观念。
              li.mini-repo-list-item 
                a(href='https://twitter.com/jysperm/status/625530743884611584') 7月27日
                span 我感觉传统的论坛很难产生高质量的内容，因为传统的论坛给了每个人大致均等大发言机会，但不得不承认优质的内容是由少数人创造的，所以引入合适的筛选机制就很重要。我觉得知乎的模式（当然其实是 Quora）就很好，知乎提供了两个维度的内容筛选：投票筛选回答、关注数筛选用户。

      .columns
        .column.single-column
          div.timeline-comment-wrapper
            img.avatar(src='https://pbs.twimg.com/profile_images/505004462100852736/YBkK_pQW_400x400.jpeg', height='48', width='48')
            .timeline-comment
              div.timeline-comment-header
                .timeline-comment-header-text ray
              div.comment-content  
                .comment-body 我得知了王子亭距离高考前3个月毅然决然的放弃了高考，我为他感到无比惋惜，不过，他在我心中就像是风一样的男子，他勇于追求自己的梦想、理想！青春照耀着他走在成功的大道上！
          div.timeline-comment-wrapper
            img.avatar(src='https://cloud.githubusercontent.com/assets/1191561/6209405/969fc90e-b600-11e4-9c45-5afcc33b1d26.jpg?s=256', height='48', width='48')
            .timeline-comment
              div.timeline-comment-header
                .timeline-comment-header-text 小朱姐姐
              div.comment-content  
                .comment-body 精子，虽然少年成名是好事，但是刀子磨的太锋利，使起来顺手，但是容易折断哦！
          div.timeline-comment-wrapper
            img.avatar(src='https://cloud.githubusercontent.com/assets/1191561/5892592/1327a602-a500-11e4-8bbe-9a9d9e81dbcd.jpg?s=256', height='48', width='48')
            .timeline-comment
              div.timeline-comment-header
                .timeline-comment-header-text 冯小雪
              div.comment-content  
                .comment-body 一根筋，显然精子是我行我素不听劝的，有些人际处事精子其实并不懂，有时候觉得精子只能在网络上打字交流，真正面对面说话可能精子并不知道说什么，最后只能说精子情商为零 
          div.timeline-comment-wrapper
            img.avatar(src='https://avatars3.githubusercontent.com/u/8168391?s=256', height='48', width='48')
            .timeline-comment
              div.timeline-comment-header
                .timeline-comment-header-text cry 姐姐
              div.comment-content  
                .comment-body 土豪精！
