extends base

prepend sidebar
  .widget.toc
    :markdown
      ## 目录
      
      **QQ 群介绍**

      **群规**

      * 前置规则
      * 管理员
      * 话题
      * 个人身份
      * 颜文字和表情
      * 图片、代码和链接
      * 信息量
      * 文法

      **新人生存攻略**

      **有关正确落实群规的指导意见**

      * 什么是正确的昵称
      * 如何正确地使用颜文字
      * 如何正确地搭话
      * 如何正确地提问
      * 如何正确地更正错别字
