.row-member {
  p.pull-left img {
    heigth: 256px;
    width: 256px;
    margin: 25px 50px;
  }

  h2 small {
    margin-left: 7px;
  }

  ul {
    list-style-type: none;
    padding-left: 10px;

    li span.glyphicon {
      margin-right: 5px;
    }
  }
}
