extends layout

block header
  title 聊天版 | 精子粉丝团
  
block body
  .row
    .ds-thread(data-thread-key='board', data-title='聊天版', data-url='https://jybox.net/board')
      
append footer
  script(src='https://static.duoshuo.com/embed.js')
