extends layout

block header
  title 黑历史 | 精子粉丝团

block body
  .row
    :markdown
      ##2009

      2009 年 9 月，精子出于自己用 VB6 做一款叫「精英农场」的山寨游戏的目的，组建了后来被称为「精英盒子」的 QQ 群。

      当时精子已经在网络上发布过一些作品了，第一批成员就是这些小作品的用户，如 @PCLiker.

      这个群从建立的一开始，就有着变态，复杂，冗长，独裁的群规，作为传统一直流传了下去，虽然有时执行得严格，有事疏于执行。

      ## 2010

      2010 年 1 月，「精英农场」完成了一半，精子去百度贴吧发了两个宣传贴，在之后的接近三年时间里，这个帖子源源不断地拉进来了上百人，@老易 和 @谦谦 是其中之一。

      4 月份的的时候，本来计划将「精英农场」改为网络版，但在精子学习了一些网页制作，和 Web 后端编程技术后，精子觉得建网站更有意思。

      精子的第一个网站域名是 jingyingbox.cn, 其实也就是用别人写的程序，挂上去一些自己写的有关计算机技巧的一些文章。

      在 2010 下半年，精子调研了 PHP 和 ASP 之后，决定用 .Net 编写自己的网站，并于 10 月完成了第一版，并换成了 jybox.net 这个域名。

      ## 2011

      精子对自己的第一版网站并不满意，于是接下来花了几个月的时间，在 2011 年 3 月对之前的网站完成了一次重构。

      在 2011 年 6 月，精子参加了中考，在此之前的三个月里，精子花了三个月的时间来准备中考，期间委托 @黑龙 监督是不是又偷懒上了 QQ.

      在中考之后，受社交网络上转发的段子影响，精子觉得腾讯是一家黑心公司，发誓以后不用 QQ. 后来精子对腾讯由黑转粉，不过因为这个变故，精子换了一个 QQ 号。

      精子也觉得微软是一家黑心公司，因此决定把网站从 .Net 改成 PHP, 但挣扎了几个月之后失败了，于是还是选择了现成的 phpwind 和 WordPress 来改版网站。那个失败的版本，经过若干次重构，变成后来的 LightPHP.

      从 2011 年 9 月开始，精子开始用 C++ 和 Qt 编写零毫秒——一个即时通讯软件。连 PHP 都驾驭不了的精子，居然写 C++ 写得很开心，并在年末完成了一个简单的版本。

      在 2011 年，盒子群里的核心人物是 @Abreto 和 @OUTMAN, 大家都还年轻，想得多做得少，每天就聚在一起在 QQ 群和论坛上瞎扯淡。

      在 2011 年的年末，@whtsky 加入了盒子群，@whtsky 是一个很厉害的人，让精子知道了 Python, Github, V2EX 等等很多高大上的东西。

      ## 2012

      待续 ...

      ## 2013

      ## 2014

      ## 2015
