extends layout

block header
  title 精子粉丝团

block body
  .row
    :markdown
      ## 精子粉丝团
      这里是精子粉丝团的主页，精子粉丝团的 QQ 群是 61137226, 这个页面列出了由 [王子亭](https://jysperm.me) 运营的一些公益服务。

      ## bbs.jybox.net
      [bbs.jybox.net](https://bbs.jybox.net) 是一个用 esoTalk 搭建的论坛。

      而 [old-bbs.jybox.net](https://old-bbs.jybox.net) 中包含了精英盒子在 2011 年到 2013 年的论坛帖子的只读镜像。

      ## git.jybox.net
      [git.jybox.net](https://git.jybox.net) 是一个使用 Gitlab 搭建的源代码托管平台，支持托管私有库。

      ## blog.jybox.net
      [blog.jybox.net](https://blog.jybox.net) 是一个用 WordPress MU 搭建的博客托管平台。

      ## 关于本站
      本站及其子站点位于 Linode 的一台独立服务器，并启用了 Linode 的备份服务来保证数据不会丢失。

      本站提供的服务都将是免费的服务，如果有建议和疑问，或者希望协助维护这些服务（没有报酬），可以发邮件至 [jysperm@gmail.com](mailto:jysperm@gmail.com)

append sidebar
