extends layout

block header
  title jybox.net

block body
  .row
    header 关于 jybox.net

  .row
    header bbs.jybox.net

  .row
    header git.jybox.net

  .row
    header blog.jybox.net

  .row
    header wiki.jybox.net
