extends layout

block header
  title 精子的项目 | 精子粉丝团

block body
  .website
    header
      | 精子的博客
      small
        span.glyphicon.glyphicon-lock
        a(href='https://jysperm.me', target='_blank') jysperm.me
      
  .website
    header
      | 精子的粉丝团
      small
        span.glyphicon.glyphicon-lock
        a(href='https://jybox.net', target='_blank') jybox.net
        
  .website
    header
      | Atom 中文社区
      small
        a(href='http://atom-china.org', target='_blank') atom-china.org
        
  .website
    header
      | GreenShadow
      small
        a(href='http://greenshadow.net', target='_blank') greenshadow.net
        
  .website
    header
      | CommitCal
      small
        span.glyphicon.glyphicon-lock
        a(href='https://commitcal.newsbee.io', target='_blank') commitcal.newsbee.io

  .website
    header
      | Random
      small
        a(href='http://random.newsbee.io', target='_blank') random.newsbee.io
        
  .website
    header
      | 精英盒子论坛归档
      small
        span.glyphicon.glyphicon-lock
        a(href='https://old-bbs.jybox.net', target='_blank') old-bbs.jybox.net
      
  .website
    header
      | RP 主机（美国）
      small
        a(href='http://us1.rpvhost.net', target='_blank') us1.rpvhost.net
      
  .website
    header
      | RP 主机（日本）
      small
        a(href='http://jp1.rpvhost.net', target='_blank') jp1.rpvhost.net
        
  .website
    header
      | RP 主机博客
      small
        a(href='http://blog.rpvhost.net', target='_blank') blog.rpvhost.net
